<p>
    <strong>Title:</strong>
    <%= @note.title %>
</p>

<p>
    <strong>Text:</strong>
    <%= @note.text %>
</p>

<h2>Comments</h2>
<%= render @note.comments %>

<h2>Add a comment:</h2>
<%= form_for([@note, @note.comments.build]) do |f| %>
    <p>
        <%= f.label :date %><br>
        <%= f.text_field :date %>
    </p>
    <p>
        <%= f.label :body %><br>
        <%= f.text_area :body %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Note List', notes_path %>